p#intro
  | About
#main
  p
    ul.list
      li
        h3 What is this all about then?
        p
          | Hacker WeeKeND is a meeting place for creative programmers and their weekend side projects.
          | You can start a new project, or participate in another, it's up to you. There are no logins,
          | only requirement is love for coding, and that your project is new. It lives on the homepage for a week 
          | and then goes away.
      li
        h3 Ok, but why should I care?
        p
          | You might get some feedback and even find others to help you. Why keep your projects in
          | the closet? Get them up on <a href="">github.com</a> now and start coding socially!
          | (and then post about them here)
      li
        h3 Why not use Github directly?
        p
          | It'll still live there, and you'll still be using that. This is where people will find it.
          | Github.com is great for collaboration, but its content is overly saturated. hwknd
          | makes it easy for you to find new and interesting projects and to be creative.