p#intro
  | Help
#main
  p
    ul.list
      li
        h3 What am I looking at? What is all that info?
        p
          | It is a list of new weekend projects submitted by people.
          | Each project displays the repository name, 
          | owner name, languages used, and the gravatars of those that
          | have pushed some code in it (aka collaborators). 
          | They are sorted by age, where newest are at the top.
      li
        h3 How do I participate in a project?
        p
          | Click the project's name to go to its respective page at github, fork the repository and start coding on it.
          | It's up to the owner to decide on the means of collaboration and communication around a project
          | and that information should usually live in the README page. You can also join the IRC
          | channel #hwknd at freenode, and use it as a general meetup point.
      li
        h3 I've submitted my project but it haven't shown up on the home page!
        p
          | It could be a number of reasons; most important, is that your project has to be
          | new, less than a week old. Older than that, it's removed automatically (or never shows up).
          | Or it might be you typed the repository name and/or username incorrectly. Repositories
          | are case sensitive so you might want to double check that.
      li
        h3 Everything is ok, but still doesn't show up!
        p
          | Send us an e-mail at help[at]hwknd.com with your repository information and we'll get back to you
          | as soon as possible.
      li
        h3 The project I posted last week disappeared!
        p
          | This is expected. Projects live on the home page for a week, and are then removed.
          | This is a weekend project publishing site, so it wouldn't make sense to keep them around longer, right?
      li
        h3 I don't want my project listed any more! How can I remove it?
        p
          | You can't. Since there are no logins, you can't remove projects directly. But there's a workaround
          | that will invalidate your project and have it removed automatically.
          | By renaming the repository at github for a couple of minutes, the engine will not be able
          | to find it and will remove it from the home page. After that you can rename it back to what it was,
          | and no harm is done. If you still want your project removed but don't want to rename it at all,
          | wait a week for it to expire, or send us an e-mail at help[at]hwknd.com providing sufficient
          | information that you're the owner, and we'll remove it for you.
      li
        h3 I'm having some other issue, can you help?
        p
          | Drop us an e-mail at help[at]hwknd.com with details about your issue and we'll do our best.